<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Beastiary</title>
  <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
  <script src="https://code.jquery.com/jquery.js"></script>
  {{!-- <script src="/assets/js/main.js "></script> --}}
</head>
<nav>
  <img src="/assets/images/logodummy.png" class="logo" alt="logo">
  <div class="nav-name">
    <h4> Beastiary</h4>
  </div>
  <ul class="nav-links">

    <li><a href="/">Home</a></li>
    <li><a href="/data">Data</a></li>
    <li><a href="/404page">404</a></li>
    <li><a href="/beastiary/jinn">Jinn</a></li>
  </ul>


  <div class="burger">
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="line-3"></div>
  </div>
</nav>

<body>
  <div class="content">
    {{{body}}}
  </div>


  <footer>
    <div class="footer">
      <ul class="footer-links">
        <li><a href="#">link 1</a></li>
        <li><a href="#">link 2</a></li>
        <li><a href="#">link 3</a></li>
      </ul>
    </div>
  </footer>
  <script src="/assets/js/main.js "></script>
</body>

</html>