<h1>OH NO!! You have found the Hell Maw!!</h1>
<p>You've summoned the 404 Monster because the page you are looking for doesn't exist...</p>
<p>Page not found. Please check the URL.</p>
<img src="/assets/images/hellmaw.jpg" alt="404 Error Not Found" class="img-404" />