
:root{
  /* main */
  --background-color: white;

  --primary-text-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --primary-text-color:#333;
  --primary-text-size:32px;

  /* --secondary-text-font-family: Verdana, Geneva, Tahoma, sans-serif; */
  --secondary-text-font-family: serif;
  /* --secondary-text-font-family: 'Playfair Display', serif; */


  --secondary-text-font-family: 'Noto Serif', serif;
  /* --secondary-text-font-family: 'Libre Baskerville', serif; */

  /* --secondary-text-font-family: 'Ibarra Real Nova', serif; */
  /* --secondary-text-font-family: 'Source Serif Pro', serif; */
  /* --secondary-text-font-family: 'Baskervville', serif; */
  /* --secondary-text-font-family: 'Amiri', serif; */

  --secondary-text-color:#444;
  --secondary-text-size:16px;

/* navbar */
  --navbar-text-color:white;
  --navbar-bg-color:black;
  --resp-navbar-bg-color: black ;

  /* footer */
    --footer-text-color:white;
  --footer-bg-color:black;


}

html, body {
  position: relative;
  overflow-x: hidden;
  height: 100%;
   }
*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-decoration-color: none;
}
body{
background-color: var(--background-color);
}
h1{
  font-family: var(--primary-text-font-family);
  color: var(--primary-text-color);
  font-size: var(--primary-text-size);
}
p, a , li{
  font-family: var(--secondary-text-font-family);
  color: var(--secondary-text-color);
  font-size: var(--secondary-text-size);
}
.navbar-main{
  display: inline-flex;
  width: 100%;
  background-color: grey; 
  padding: 1em;
  }

.content{
  padding:3em 10% 4em;
}
.main-headline{
  text-align: center;
  font-size: 48px;
}
.hero{
  min-width: 100vw;
  height: calc(94vh);
}
.beast-main-wrapper-index{
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: minmax(min-content, auto); */
  /* grid-template-columns: minmax(200px, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.beast-wrapper-index{
  background-color: rgb(230, 230, 230); 
  padding: 1em;
  margin-bottom: 1em;
}

.indiv-beast-wrapper{
  background-color: lightblue; 
  /* padding: 1em; */
  /* margin-bottom: 1em; */
  border: 3px solid red ;
}

img {
  display: block;
}
/* NAVBAR */
nav{
    /* border: 3px solid blue; */
  display:flex;
  justify-content: space-around;
  align-items: center;
  /* min-height: 3em; */
  height: 48px;
  background-color: var(--navbar-bg-color);
  font-family: 'Poppins', sans-serif;
}

.logo{
  width: 35px;
  height: 35px;

  margin-left: 10px;
  /* border: 3px solid red; */
  position: absolute;
  left: 2px;
  /* color: var(--navbar-text-color); */
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-name{
   color: var(--navbar-text-color);
  /* margin-left: 14px; */
  /* border: 3px solid blue; */
  position: absolute;
  left: 60px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
} 
.nav-name a{ 
  list-style: none;
  text-decoration: none;
  text-decoration-color: none;
  color: var(--navbar-text-color);
}
.nav-links{
  /* border: 3px solid blue; */
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-around; 
  width: 45%;
}
.nav-links li{
  /* border: 3px solid green; */
  list-style: none;
}
.nav-links a{
  color: var(--navbar-text-color);
  font-family: var(--primary-text-font-family);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger{  
  margin-right: 12px;
  /* border: 3px solid green; */
  display: none;
  
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: var(--navbar-text-color);
  margin: 5px;
  transition: all 0.3s ease;
  
}

.beast-img{
width:100%;
}


.indiv-beast-img{
width:100%;
}
.img-404{
  padding: 3em;
  width:100%;
}
/*Content area*/
/* .content{
min-height: 550px;
text-align: center;
font-family: 'Poppins', sans-serif;
border: 3px solid red; 
padding: 3em;
} */
/* FOOTER */
 footer{
  /* position: fixed;
  bottom: 0;
  width: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10em;
  /* background-color: var(--footer-bg-color); */
  font-family: 'Poppins', sans-serif;
} 

.footer-links{
  display: flex;
  justify-content: space-around; 
  width: 330px;
}

.footer-links li{
  list-style: none;
}

.footer-links a{
  color: var(--footer-text-color);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

/*
INDIVIDUAL PAGES
*/


@media screen and (max-width: 1024px){
  html, body {
    position: relative;
    overflow-x: hidden;
    /* height: 100%; */
     }

  .nav-links{
    width: 50%; 
    margin-right: 12px;
  }
  .content{
    padding:4em 5em 4em;
  }
}
@media screen and (max-width:768px){
  .content{
    padding:4em 7% 5em;
  }
  .beast-img{
    width:100%;
         }
  .nav-links{
    /* border: 3px solid pink; */
    margin-right: 0px;
    position: absolute;
    right: 0px;
    /* height: 93.5vh;*/
    height: 3em; 
    top: 3em;
    width: 100vw;
    background-color:   var(--resp-navbar-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translate(100%);
    transition: transform 0.8s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
    position: absolute;
    right: 1em;

  }
  .beast-main-wrapper-index{
    border: 3px solid blue;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  
  .beast-wrapper-index{
    /* background-color:pink;  */
    padding: 1em;
    margin-bottom: 1em;
  
  }
}
.nav-active{
  transform: translateX(0%)
}
@keyframes spin {
  0% {transform: rotate(0deg)}
  45%{transform: rotate(160deg);}
  100% {transform: rotate(-180deg);}
}
@keyframes navLinkFade{
  from{
opacity: 0;
transform:translateX(100vw);
  }
    to{
    opacity:1;
    transform: translateX(0px)
  }
}

.toggle .line-1{
transform: rotate(-45deg) translate(-5px, 6px)
}
.toggle .line-2{
  opacity: 0;
}
.toggle .line-3{
  transform: rotate(45deg) translate(-5px, -6px)
}

